# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [49]:
import pandas as pd

movies_df = pd.read_csv('C:\\Users\\Carol\\Downloads\\movies-Copy1.csv')

movies_df.sort_values(by="Worldwide Gross",ascending = False)[["Major Genre","Worldwide Gross"]]

            Major Genre  Worldwide Gross
1234             Action     2.767891e+09
2970  Thriller/Suspense     1.842880e+09
2202          Adventure     1.133027e+09
2507          Adventure     1.065660e+09
2987          Adventure     1.046341e+09
...                 ...              ...
266                 NaN              NaN
404                 NaN              NaN
467                 NaN              NaN
1025                NaN              NaN
1028                NaN              NaN

[3201 rows x 2 columns]

### Qual o diretor dirigiu mais filmes?

In [71]:
movies_df.Director.value_counts()

Steven Spielberg       23
Woody Allen            16
Spike Lee              15
Martin Scorsese        15
Ridley Scott           14
                       ..
Ryan Little             1
Bill Paxton             1
Tony Gilroy             1
Paul Mazursky           1
Ari S. Kirschenbaum     1
Name: Director, Length: 550, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [85]:
movies_df["arrecadação"] = movies_df["Worldwide Gross"] - movies_df["Production Budget"]

In [86]:
movies_df.sort_values(by="arrecadação",ascending = False)[["Title","Worldwide Gross","Production Budget","arrecadação"]]

,Title,Worldwide Gross,Production Budget,arrecadação
1234,Avatar,2.767891e+09,237000000.0,2.530891e+09
2970,Titanic,1.842880e+09,200000000.0,1.642880e+09
2202,The Lord of the Rings: The Return of the King,1.133027e+09,94000000.0,1.039027e+09
485,Jurassic Park,9.230679e+08,63000000.0,8.600679e+08
1975,Harry Potter and the Sorcerer's Stone,9.764579e+08,125000000.0,8.514579e+08
...,...,...,...,...
404,Hell's Angels,NaN,4000000.0,NaN
467,Intolerance,NaN,385907.0,NaN
1025,Waterloo,NaN,25000000.0,NaN
1028,Wings,NaN,2000000.0,NaN
1271,Baby Mama,6.439148e+07,NaN,NaN

In [87]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'C:\\Users\\Carol\\Downloads': ['.ipynb_checkpoints', '1615422167554.pdf', '1ª lista de exercícios (2).docx', '6090219781480191.zip', 'advanced-systemcare-setup.exe', 'Anaconda3-2020.11-Windows-x86.exe', 'Apresentao_sem_ttulo.pptx', 'Armistice(MP3_160K).mp3', 'Atividade Final - Arte e Museu.pdf', 'Atividade Final - Arte e Museu.pptx', 'Atividade Final Arte e Artesanato.docx', 'Atividade Final Arte e Artesanato.pdf', 'Av1TP (1).pdf', 'Bicola-install-1.0.95.exe', 'caderno de exercícios 2 - cálculo I.pdf', 'Carol Fogaça.pdf', 'Carol Fogaça.pptx', 'ccsetup577.exe', 'Certificado_carolina_fogaca_de_araujo_chitolina.pdf', 'CERTIFICADO_PROEX_61704 (1).pdf', 'CERTIFICADO_PROEX_61704.pdf', 'CERTIFICADO_PROEX_62039.pdf', 'CERTIFICADO_PROEX_74565.pdf', 'clouds___mist_photoshop_and_gimp_brushes_by_redheadstock_daju35.zip', 'codeblocks-20.03-setup.exe', 'codeblocks-20.03mingw-setup.exe', 'César Clemente Advogado - Logotipo - v02 - Transparente.psd', 'ddaa.png', 'declaracao_20190024716.pdf', 'desktop.ini', 'DJ2540_188.exe', 'DJ2540_Basicx64_188.exe', 'Exerccio_-_NumPy (1).ipynb', 'Exerccio_-_NumPy.ipynb', 'Exerccio_-_Pandas (1).ipynb', 'Exerccio_-_Pandas (2).ipynb', 'Exerccio_-_Pandas.ipynb', 'Exerccio_-_Python_-_Listas.ipynb', 'Exerccio_-_Python_-_Random (1).ipynb', 'Exerccio_-_Python_-_Random.ipynb', 'exe_numpy.ipynb', 'Firefox Installer.exe', 'icd-master.zip', 'IMG_20200718_100008_478.jpg', 'IMVUApp-BETA-7.3.14.exe', 'Judite-de-Holofernes_-Artemisia.-Por-Carolina-Fog.mp3', 'KVRT.exe', 'Leitura Thierry de Lima.docx', 'Leitura Thierry de Lima.pdf', 'Lista01-Sequencias.pdf', 'listagem-alunos-aprovado-579.csv', 'macro-recorder-5-7-7-en-win.exe', 'Mary.pdf', 'mingw-get-setup.exe', 'movies-Copy1.csv', 'OpenAccess-CIPINIUK-9788580392685.pdf', 'OpenAccess-FONSECA-9788580391978.pdf', 'pandas.ipynb', 'Prova_1--I-L.pdf', 'Prova_1_IC.docx.pdf', 'python-3.8.9.exe', 'Random.ipynb', 'RESENHA MARIA BONITA ITC.docx', 'sentimento azul.pdf', 'Sequencia.pdf', 'Sequencias.py', 'SIMULADOR DE RENDIMENTOS PARA O DINHEIRO DO DIA A DIA (2) (1).xlsx', 'SIMULADOR DE RENDIMENTOS PARA O DINHEIRO DO DIA A DIA (2).xlsx', 'SketchBook_8.7.1.0_Win64.exe', 'Spyder_64bit_full.exe', 'tabela.docx', 'TunnelBear-Installer.exe', 'Txt_FláviaMuseudeArtenoBrasil.pdf', 'Untitled.ipynb', 'Untitled1.ipynb', 'WacomTablet_6.3.42-2.exe', 'Windows6.1-KB2999226-x64.msu']